*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.tab-container {
    width: 90%;
    max-width: 550px;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
}

.tab {
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}

.current-tab {
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
}

.weather-container {
    margin-block: 4rem;
}

.btn {
    all: unset;
    background-color: var(--colorDark2);
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grant-location-container,
.loading-container,
.user-info-container,
.form-container {
    display: none;
}

.grant-location-container.active,
.loading-container.active,
.user-info-container.active,
.form-container.active {
    display: flex;
}

.name {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.name p {
    font-size: 2rem;
}

.user-info-container p[data-temp] {
    font-size: 2.75rem;
    font-weight: 700;
}

.parameter-container {
    display: flex;
    gap: 20px;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.parameter {
    background-color: rgba(219, 226, 239, 0.5);
    padding: 1rem;
    border-radius: 5px;
    max-width: 150px;
    text-align: center;
}
